@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Primary
$strong-cyan: hsl(172, 67%, 45%);
$strong-cyan-50: hsla(172, 67%, 45%, 0.5);

// Neutral
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$very-dark-cyan-50: hsla(183, 100%, 15%, 0.5);


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Mono", 'sans-serif';
    font-size: 1.5rem;
    font-weight: 700;
    background-color: $light-grayish-cyan;
    color: $grayish-cyan;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.splitter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__header {
        padding-block: 3rem;
    }

    &__logo {
        display: block;
    }

    &__content {
        background-color: $white;
        border-radius: 1rem;
        padding: 1.5rem;
        width: 100%;
        max-width: 35rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    &__input-group {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-block: 1rem;
    }

    &__label {
        font-size: 1rem;
        padding-block-end: 0.5rem;
    }

    &__input {
        outline: none;
        background: transparent;
        box-shadow: none;
        border: none;
        padding: 0.5rem 1rem;
        text-align: end;
        background-color: $very-light-grayish-cyan;
        font-family: inherit;
        font-size: 1.5rem;
        color: $very-dark-cyan;
        font-weight: 700;
        border-radius: 0.375rem ;
    }

    &__input::placeholder {
        font-family: inherit;
        color: $light-grayish-cyan;
        font-size: 1rem;
        font-weight: 700;
    }

    &__icon {
        position: absolute;
        left: 1rem;
        height: 1rem;
        top: 55%;
        transform: translateY(0%);
        fill:  $light-grayish-cyan;
    }

    &__tip-options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    &__tip-button {
        border: none;
        margin: 0;
        padding: 0.5rem;
        width: auto;
        overflow: visible;
        background-color: $very-dark-cyan;
        border-radius: 0.375rem;
        font: inherit;
        font-size: 1.5rem;
        color: $white;
    }

    &__tip-button:focus, &__tip-button:active {
       background-color: $strong-cyan;
       color: $very-dark-cyan;
    }

    &__input--custom {
        display: block;
        width: 100%;
        color: $grayish-cyan;
        font-weight: 700;
    }

    &__input--custom::placeholder {
        font-size: 1.5rem;
        color: $grayish-cyan;
    }

    &__result-section {
        background-color: $very-dark-cyan;
        border-radius: 0.75rem;
        padding: 2.5rem 1.5rem 1.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    &__result-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__result-label {
        color: $white;
        font-size: 1rem;
    }

    &__result-subtext {
        color: $grayish-cyan;
        font-size: 0.8125rem;
        display: block;
    }

    &__result-value {
        font-size: 2rem;
        color: $strong-cyan;
    }

    &__reset-button {
        border: none;
        margin-top: 1rem;
        padding: 0.5rem;
        width: auto;
        overflow: visible;
        background-color: $strong-cyan;
        border-radius: 0.375rem;
        font: inherit;
        font-size: 1.25rem;
        text-transform: uppercase;
        color: $very-dark-cyan;
    }

    &__reset-button:disabled {
        background-color: $strong-cyan-50;
        color: $very-dark-cyan-50;
    }
}

@media (min-width: 40rem) {
    .splitter {
        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 64rem;
            gap: 3rem;
            padding: 2rem;
        }

        &__tip-options {
            grid-template-columns: repeat(3, 1fr);
        }
        
        &__result-section {
            background-color: $very-dark-cyan;
            border-radius: 0.75rem;
            padding: 3rem 2.5rem 2.5rem 2.5rem;
            display: flex;
            flex-direction: column;
            row-gap: 2.5rem;
        }

        &__reset-button {
            margin-top: auto;
        }
    }
}