@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", "sans-serif";
  font-size: 1.5rem;
  font-weight: 700;
  background-color: hsl(185, 41%, 84%);
  color: hsl(184, 14%, 56%);
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.splitter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.splitter__header {
  padding-block: 3rem;
}
.splitter__logo {
  display: block;
}
.splitter__content {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.splitter__input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
}
.splitter__label {
  font-size: 1rem;
  padding-block-end: 0.5rem;
}
.splitter__input {
  outline: none;
  background: transparent;
  box-shadow: none;
  border: none;
  padding: 0.5rem 1rem;
  text-align: end;
  background-color: hsl(189, 41%, 97%);
  font-family: inherit;
  font-size: 1.5rem;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  border-radius: 0.375rem;
}
.splitter__input::placeholder {
  font-family: inherit;
  color: hsl(185, 41%, 84%);
  font-size: 1rem;
  font-weight: 700;
}
.splitter__icon {
  position: absolute;
  left: 1rem;
  height: 1rem;
  top: 55%;
  transform: translateY(0%);
  fill: hsl(185, 41%, 84%);
}
.splitter__tip-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.splitter__tip-button {
  border: none;
  margin: 0;
  padding: 0.5rem;
  width: auto;
  overflow: visible;
  background-color: hsl(183, 100%, 15%);
  border-radius: 0.375rem;
  font: inherit;
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
}
.splitter__tip-button:focus, .splitter__tip-button:active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
.splitter__input--custom {
  display: block;
  width: 100%;
  color: hsl(184, 14%, 56%);
  font-weight: 700;
}
.splitter__input--custom::placeholder {
  font-size: 1.5rem;
  color: hsl(184, 14%, 56%);
}
.splitter__result-section {
  background-color: hsl(183, 100%, 15%);
  border-radius: 0.75rem;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.splitter__result-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.splitter__result-label {
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
}
.splitter__result-subtext {
  color: hsl(184, 14%, 56%);
  font-size: 0.8125rem;
  display: block;
}
.splitter__result-value {
  font-size: 2rem;
  color: hsl(172, 67%, 45%);
}
.splitter__reset-button {
  border: none;
  margin-top: 1rem;
  padding: 0.5rem;
  width: auto;
  overflow: visible;
  background-color: hsl(172, 67%, 45%);
  border-radius: 0.375rem;
  font: inherit;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: hsl(183, 100%, 15%);
}
.splitter__reset-button:disabled {
  background-color: hsla(172, 67%, 45%, 0.5);
  color: hsla(183, 100%, 15%, 0.5);
}

@media (min-width: 40rem) {
  body {
    align-items: center;
  }
  .splitter__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 64rem;
    gap: 3rem;
    padding: 2rem;
  }
  .splitter__tip-options {
    grid-template-columns: repeat(3, 1fr);
  }
  .splitter__result-section {
    background-color: hsl(183, 100%, 15%);
    border-radius: 0.75rem;
    padding: 3rem 2.5rem 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  .splitter__reset-button {
    margin-top: auto;
  }
}

/*# sourceMappingURL=index.css.map */
